textarea {
  font-family: "Lucida Console", serif;
  font-size: 17px;
  border: 1px solid #888;
  width: 99%;
  height: 100vh;
  padding: 8px;
}

html {
  font-size: 100%;
}

#preview {
  height: 100vh;
  width: 100%;
  padding: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid black;
  font-family: "Lucida Console", serif;
  font-size: 17px;
}

.col-md-6 {
  padding: 0;
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
